@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-height: 1.5rem;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: calc(2 * var(--nav-height));
    height: calc(100% - var(--nav-height));
    min-height: calc(100% - var(--nav-height));
    @apply bg-neutral-900 text-neutral-100;
}
